@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 500px;
    margin: 0 auto;
}

h3{
    margin: 10px 0 20px;
    line-height: 1.5;
    color: rgb(76, 36, 161);
    text-align: center;
}

textarea{
    border: 2px solid rgb(122, 160, 230);
    display: block;
    width: 100%;
    height: 110px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    margin: 0 0 30px;
    font-size: 18px;
    outline: none;
    resize: none;
    border-radius: 10px;
}

.tag{
    background-color: black;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 0 10px 37px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

.tag.highlight{
    background-color: white;
    color: black;
}